.container {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 10px 0;
    width: 100vw;
    background-color: rgba(153, 220, 246, 0.692);
    color: rgb(18, 18, 19);
    text-align: center;
    margin-top: 15px ;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
}

.socialIcon {
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s linear;
}
.socialIcon:hover {
    transform: scale(1.2, 1.2);
}